<h1>Mis recetas favoritas</h1>
{{#if hasFavourites}}
  {{#each favouriteList}}
    <p>{{this.name}}</p>
    <img src="{{this.image}}" alt="" width="200px" />
    <a href="/recipes/{{this._id}}/details">Ver detalles</a>
   <form action="/recipes/{{this._id}}/my-favourites/isfavourite" method="POST">
      <button>
        Quitar de favoritos
      </button>
  </form>
  {{/each}}
    {{else}}
    <p>No has agregado ninguna receta a tus favoritos!</p>
{{/if}}

