<h2>Mi perfil</h2>

<p>Nombre de usuario: {{profileUser.username}}</p>
<p>Avatar: </p><img src="{{profileUser.avatar}}" alt="avatar" width="100px">
<p>Categoria:{{profileUser.category}}</p>
<p>email: {{profileUser.email}}</p>

<h3>Agregar imagen</h3>

<form action="/user/{{profileUser._id}}/upload" method="POST" enctype="multipart/form-data">
    <label for="avatar">Imagen</label>
    <input type="file" name="avatar"> 
    <button>Agregar Imagen</button>
</form>

<a href="/user/myprofile/edit"><button>Modificar</button></a>