<h1>Recetas creadas por mi</h1>

{{#if hasRecipes}}
  {{#each myRecipes}}
    {{this.name}}
    <img src="{{this.image}}" alt="receta" />
    <button><a href="/recipes/{{this._id}}/edit">Editar</a></button>
    <form action="/recipes/{{this._id}}/delete" method="POST"><button>Borrar
        Receta</button></form>
  {{/each}}
{{else}}
  <p>Puedes crear una receta,<a href="/recipes/create">aquí</a>.</p>
{{/if}}