<div class="position-relative">
 
  <h2  class="mt-4 mb-2 position-absolute top-0 start-50 translate-middle" style="color:#CD5C5C">Recetas creadas por mí</h2>
  <div class="container text-center mt-5">
    <div class="mt-5 row align-items-center justify-content-evenly">
  {{#if hasRecipes}}
      
        {{#each myRecipes}}
        <div class="card mt-5 mx-3 text-center" style="width: 18rem;"> 
        <h3 class="mt-2">{{this.name}}</h3>

        <img class="card-img-top" src="{{this.image}}" alt="receta" height="200px" />
       
        <div class="card-body mt-2">
        <button class="btn btn-outline-secondary "><a href="/recipes/{{this._id}}/edit" style="text-decoration:none">Editar</a></button>
        </div>

        <form action="/recipes/{{this._id}}/delete" method="POST">

        <div class="card-body ">
          <button class="btn btn-danger">
          Borrar Receta
          </button>
        </div>
        </form>
        </div>
        {{/each}}
     
{{else}}
<div  class="position-relative top-100 start-50 translate-middle mt-5 mx-3 text-center"> 
   <h5 class="mt-5" >Puedes crear una receta,<a href="/recipes/create">aquí</a>.</h5>
</div>
  </div>
      </div>
{{/if}}
</div>
