<h1>{{selectedRecipe.name}}</h1>
<img src="{{selectedRecipe.image}}" alt="Imagen de la receta " />

<h3>Instrucciones: </h3>
<p>{{selectedRecipe.instructions}}</p>
<br />
{{#if isUserActive}}
  {{#if isCreator}}
    <form action="/recipes/{{selectedRecipe._id}}/ingredients" method="POST">
      <label for="ingredients">Agregar ingredientes:</label>
      <input type="text" name="ingredients" />
      <button>Añadir</button>
    </form>
  {{/if}}
{{/if}}

<h3>Ingredientes: </h3>
<ul>
  {{#each selectedRecipe.ingredients}}
    <li>{{this}}</li>
  {{/each}}
</ul>

<p>Tiempo de preparación: {{selectedRecipe.preparationtime}} min</p>

{{#if isUserActive}}

  {{#if isCreator}}
    <button><a href="/recipes/{{selectedRecipe._id}}/edit">Editar</a></button>
    <form action="/recipes/{{selectedRecipe._id}}/delete" method="POST"><button
      >Borrar Receta</button></form>

  {{/if}}
  <form action="/recipes/{{selectedRecipe._id}}/isfavourite" method="POST">
    {{#if isfavourite}}

      <button>
        Quitar de favoritos
      </button>
    {{else}}
      <button>
        Añadir a favoritos
      </button>

    {{/if}}
  </form>

{{/if}}