<h1>Edita tu receta</h1>

<h3>Pon una imagen a tu receta</h3>

<form action="/recipes/{{selectedRecipe._id}}/edit" method="POST" enctype="multipart/form-data">
  <label for="image">Imagen</label>
  <input type="file" name="image"> 
  <label for="name">Nombre de la Receta: </label>
  <input type="text" name="name" value="{{selectedRecipe.name}}" />
  <br />
  <label for="instructions">Instrucciones</label>
  <input
    type="text"
    name="instructions"
    value="{{selectedRecipe.instructions}}"
  />
  <br />

  <label for="category">Categoria</label>
  <select name="category" value="{{selectedRecipe.category}}">
    <option value="Ensalada">Ensaladas</option>
    <option value="Carne">Carne</option>
    <option value="Pescado">Pescado</option>
    <option value="Sopa">Sopa</option>
    <option value="Pasta">Pastas</option>
    <option value="Arroz">Arroces</option>
    <option value="Guiso">Guisos</option>
    <option value="Postre">Postres</option>
  </select>
  <br />
  <label for="difficulty">Dificultad</label>
  <select name="difficulty" value="{{selectedRecipe.difficulty}}">
    <option value="Baja">Baja</option>
    <option value="Media">Media</option>
    <option value="Alta">Alta</option>
  </select>
  <br />
  <label for="preparationtime">Tiempo (en minutos):</label>
  <input
    type="text"
    name="preparationtime"
    value="{{selectedRecipe.preparationtime}}"
  />
  <br />
  <button>Editar</button>
</form>

<form action="/recipes/{{selectedRecipe._id}}/ingredients/edit" method="POST">
  <label for="ingredients">Agregar ingredientes:</label>
  <input type="text" name="ingredients" />
  <button>Añadir</button>
</form>

<ul>
  {{#each selectedRecipe.ingredients}}
    <li>{{this}}</li>
    <form
      action="/recipes/{{../selectedRecipe._id}}/ingredients/delete"
      method="POST"
    >
    <input type="hidden" name="ingredients" value="{{this}}">
    <button>X</button></form>
  {{/each}}
</ul>