

<div class="d-flex flex-direction-row mt-5 justify-content-center " >

<div>


  <form action="/recipes/{{selectedRecipe._id}}/edit" method="POST" enctype="multipart/form-data">
  

    <h1 style="color: #CD5C5C ;">Edita tu receta</h1>
  
    <div class=" mb-3">
      <label for="image" class="form-label ">Cambiar imágen</label>
      <input type="file" name="image" class="form-control" style="width: 500px"/>
    </div>
    <div class=" mb-2 row g-2">
      <label for="name">Nombre de la Receta: </label>
      <input type="text" name="name" value="{{selectedRecipe.name}}" style="width: 500px" />
    </div>
    <div class=" mt-4 mb-2 row g-2">
    <label for="instructions">Instrucciones</label>
    <input type="text" name="instructions" value="{{selectedRecipe.instructions}}" style="height: 50px; width: 400px ;" />
    </div>
    <div class="form-floating mb-4">

      <select  class="form-select" aria-label="Default select example" name="category" value="{{selectedRecipe.category}} " style="width: 500px ;" >

        <option value="Ensalada">Ensaladas</option>
        <option value="Carne">Carne</option>
        <option value="Pescado">Pescado</option>
        <option value="Sopa">Sopa</option>
        <option value="Pasta">Pastas</option>
        <option value="Arroz">Arroces</option>
        <option value="Guiso">Guisos</option>
        <option value="Postre">Postres</option>

      </select>

      <label for="category" >Categoría</label> 

    </div>


    <div class="form-floating mb-4">

      <select  class="form-select" aria-label="Default select example" name="difficulty" value="{{selectedRecipe.difficulty}}" style="width: 500px ;" >

        <option value="Baja">Baja</option>
        <option value="Media">Media</option>
        <option value="Alta">Alta</option>

      </select>

      <label for="difficulty">Dificultad</label>

    </div>

    <div class=" mb-2 row g-2">

      <label for="preparationtime">Tiempo(min): </label>
      <input type="text" name="preparationtime" value="{{selectedRecipe.preparationtime}}" style="width: 200px;"/>

    </div>
  <button class="btn btn-outline-success">Editar Receta</button>
 </form>
</div>


<div class="mt-5">
<div>

        <form action="/recipes/{{selectedRecipe._id}}/ingredients/edit" method="POST">

          <div class=" mb-2 row g-2">

            <label for="ingredients">Agregar ingredientes:</label>
            <input type="text" name="ingredients" style="width: 500px; margin-right: 20px" />
            <button class="btn btn-outline-success" style=" width: 100px ;">Añadir </button>
          </div>
        </form>

    </div>

    <ul class="list-group list-group-flush mt-5 " style="width: 500px;">

            <div>

                  {{#each selectedRecipe.ingredients}}

                    <div class=" row align-items-center mb-3 ">

                      <li class="list-group-item col-sm-6 col-md-8" style="width: 200px ;">{{this}}</li>

                      <div class="col">

                        <form action="/recipes/{{../selectedRecipe._id}}/ingredients/delete" method="POST">

                            <input type="hidden" name="ingredients" value="{{this}}" style="width: 100px;">
                            <button  class="btn btn-outline-danger row g-1 mt-1">X</button>   

                        </form>

                      </div>

                    </div>

                  {{/each}}
              </div>    
    </ul>

</div>

</div>


