<h1>Lista de Recetas</h1>

{{#each recipeList}}
<img src="{{this.image}}" alt="foto de la receta" width="300px">
<a href="/recipes/{{this._id}}/details">{{this.name}}</a>
<p>{{this.difficulty}}</p>
<p>{{this.category}}</p>
{{/each}}