<div class="position-relative" >
  

  <div class="container text-center mt-5">
   
    <div class="row align-items-center justify-content-evenly">

       <h1
    class="position-relative  top-0 start-50 translate-middle mx-5 mt-5"
    style="color: #9ACD32;"
      >Lista de Recetas</h1>
      {{#each recipeList}}
        <div class="card mt-5 mx-3" style="width: 18rem;">
          <img
            src="{{this.image}}"
            class="card-img-top"
            alt="Foto de la receta"
            height="200px"
          />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Dificultad: {{this.difficulty}}</li>
            <li class="list-group-item">Categoría: {{this.category}}</li>
          </ul>
          <div class="card-body">
            <a href="/recipes/{{this._id}}/details" class="card-link">Ver receta</a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

</div>